<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">


<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>photo</h1>
  </div>
  <h6 class="text-danger text-opacity-50">僕の妻はとにかく息子の写真をよく撮る。<br>
  今の彼の姿を逃したくないー
  <br>そう言いながら
  <br>朝起きてご飯を食べる時も、遊ぶ時も、はいはいも、つかまり立ちも、抱っこも、寝ぐずりしている時も、寝相だって。
  <br>
  <br>全てを残していたいのだと。
  <br>
  <br>離れた場所に住む僕の両親は、
  <br>妻からの写真を共有されて、
  <br>孫の成長をすごく喜んでくれた。
  <br>
  <br>これほどまでに、
  <br>孫の存在は可愛いのかと少し嫉妬に似たような気持ちを抱くほどに
  <br>とても可愛がってくれていることが伝わった。
  <br>
  <br>息子の１歳の誕生日を迎えた日、
  <br>母は言った。
  <br>
  <br>「いつもいろんな表情を見せてくれるね。
  <br>たくさんあるから、あのお顔見たいと思っても、
  <br>見つけられなくて、探す途中で別の写真見つけて、
  <br>最初の目的を忘れちゃったりするのよ」と。
  <br>
  <br>そうか、息子の１万枚以上の写真から
  <br>確かに、頭の中で「あの写真見たい」と思っても、
  <br>すぐに出てこないことがある。
  <br>
  <br>そこで僕は、</h6><h5 class="fw-bold text-primary">表情</h5>
  <h6 class="text-danger text-opacity-50">ごとに簡単に分けることができる
  <br>プラットフォームがあればいいのではないかと思った。
  <br>本アプリはそんな思いから生まれた。</h6>
</div>